@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

*{
    margin:0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
    
}



  
  .head{
    background-color:#0099ff;
    height : 100px;
    padding-top: 40px;


    

  }

  .head .navbar{
    width: 100%;
    display: flex;
    padding :0 80px;
    margin-left: 3%;
    justify-content: space-between;


  }
  .navbar>ul>li>a{
   color: white;
   text-align: center;
   text-decoration: none;
    
  }

  ul>li{
    display : inline-block;
    padding : 20px;

  }

  
  .navbar a:hover{

    background-color: blue;
    

  }


  .header-overlay{
    height: 300px;
    margin-bottom: 100px;
    
   
  }
  .head .logo img{
    margin-right: 10px;
    margin-left: 1%;
    max-width: 180%;
    max-height: 180%;
  }


  .showcase{
    background-size: cover;
    height : 100vh;
    background-image: url(../images/background.jpg);
    position:relative;
    overflow: hidden;
    
  }

  

/*showcase content styling */

.showcase >.showcase-content{
  margin-left: 10%;
  max-width: 850px;
  margin-top: 5%;
 

}

.showcase .showcase-content span{
  font-weight: 500;
}


.showcase .showcase-content p{
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
  transition: all 0.5s ease;
  

}


/*utility class*/

.btn{
  display: inline-block;
  padding :15px 25px;
  margin: right 10px;
  border-radius: 25px;
  font-size: 12px;
  font-weight: bold;
  
  text-decoration: none;

}

.text-secondary{
  color: #0099ff
}
.text-center{
  text-align: center;
}

.bg-light{
  background: #cfcfcc;
}
.bg-secondary{
  background: #55ba53;
}

.py-0{padding:16px 0;}
.py-1{padding:24px 0;}
.py-2{padding: 32px 0;}
.py-3{padding:48px 0;}


.p-0{padding:16px;}
.p-1{padding:24px;}
.p-2{padding: 32px;}
.p-3{padding:48px;}
.p-3{padding:1px;}

.wrapper{

  max-width: 1320px;
  padding : 0 50px;
  margin : 0 auto;
  flex-wrap: wrap;
}



.showcase .showcase-content .btn-left{
  background: linear-gradient(to right, #0099ff, #0099ff);
}
.showcase .showcase-content .btn-right{
  background: linear-gradient(to right, #0099ff, #0099ff);
}

/*services */

#services .wrapper>.items{
  display : flex;
  padding: 2px;
  

}

#services .items>.item{
  padding: 5px;
  margin : 10px;
  border-style: ridge;
  border-radius: 5px;
  box-shadow:  5px 5px 20px rgba(0,0,0,0.3), -5px -5px 20px rgb(0, 0, 0.3);
  transition: all 0.8s ease ;
}

#services .items .item h3{
  color :#0099ff;
  font-size: 16px;
  margin : 5px;

}


#services .items .item p{
  line-height : 1.4;
}

#services .items .item i{
  color : #0099ff
}

#services .items .item:hover i{
  color :blue;
}


#services .items .item:hover{
  background: #0099ff;
  transform: scale(1.05);
}

#services .items .item:hover h3{
  color :blue;
}


/* Services section Botom */


#goal{

  display :flex;
  padding-top: 20px;
  margin : 0 auto;
  max-width: 100%;

}

.goal .img{
  display:inline-block;
  position:relative;
  width: 800px;
  height: 400px;
  overflow: hidden;
  overflow: hidden;

}

.goal> .img >img{
  width: auto;
  height: 100%;
  padding-top: 20%;
  margin-left: 40%;
  object-fit: cover;
}

.goal .goal-text{
  margin : 0 40px;

}

#goal .goal-text a{
  color:#f4f4f4;
  background: #0099ff;
  text-decoration: none;
  font-size: 16px;
  border-radius: 25px;
  padding : 3px 10px;
}

#goal .goal-text a:hover{
  color :blue;
  background: #0099ff;
  transition:0.5s;
}


#goal .goal-text h2{
  margin: 20px 0;
  color :#0099ff;
}
.goal-text .contents{
  display: flex;
}


.goal-text .content h3{
  font-size: 16px;
  padding-bottom : 3px;
  color :#0099ff;

}

.goal-text .contents.content p{
  color: #1A1B1E;
}


.goal-text .contents >i{
  color :white;
  margin-right: 20px;
  padding: 3px;
  background:#0099ff;
  border-radius: 5px;
  align-self: flex-start;
}


#portfolio {
  background:#0099ff;
  width: 100%;

}

.portfolio h3{
  color:white;
  font-size: 14px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.portfolio h2{
  font-size: 40px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;

}

.portfolio p{
  color :white;
  line-height: 1.6;
  margin-bottom: 100px;
}



.teams h2{
  font-size: 40px;
  font-weight: 600;
  color:#0099ff;
  margin-bottom: 20px;
}


#teams .wrapper{
  display :flex;
  flex-flow: row;

 

}

#teams .wrapper .card .card-body h3, #teams .wrapper .card .card-body h4{
  margin-left : 80px;
  color:#0099ff

}
#teams .wrapper .card{
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  overflow: hidden;
  background-color: #f6f6f6;
  z-index: 1;
  transition: all 0.5s ease;
  box-shadow:  5px 5px 20px rgba(0,0,0,0.3), -5px -5px 20px rgb(0, 0, 0.3);
  

}

#teams .wrapper .card:hover{
  transform: scale(1.05);
  background-color:#0099ff
  

}

#teams .wrapper .card:hover h3, .card:hover h4{

  color:blue;
}

#teams .wrapper .card ul{
  margin-left: 80px;
}
#teams .wrapper .card .card-header> img{
  margin-left: 10%;
  width:70%;
  height : auto;
  border-radius : 50%;
  padding: 20px;
}


/*blog section styling*/

#blog{
  background-color: white ;
  margin-left : 20px;
}

#blog .blogwrapper .blog-header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;

}

#blog .blogwrapper .blog-info{
  display :flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

#blog .blogwrapper .blog-info h2 span{
  font-weight: 500;

}

#blog .blogwrapper .blog-info a{
  text-decoration: none;
  font-family: 600;
  padding: 10px 20px;
  color :white;
  text-transform: uppercase;
  background : #0099ff;
  border-radius: 20px;

}


#blog .blogwrapper .blog-info a:hover{
  color :blue;
  background: #55ba53;

}

#blog .blogwrapper .blog-info h2{
  font-size: 40px;
  color :black;
  font-weight: 600;
}


#blog .blogwrapper .blog{
  display :flex;
  flex-direction: row;
  margin-right: 20px;
  justify-content: space-evenly;

}

#blog .blogwrapper .blog .blog-card{
  margin-bottom: 10px;
  margin-left : 20px;
  background-color: #0099ff;
  border-radius: 5px;
  box-shadow:  5px 5px 20px rgba(0,0,0,0.3), -5px -5px 20px rgb(0, 0, 0.3);
  transition : all 0.5s ease;

}

#blog .blogwrapper .blog .blog-card:hover {
  transform: scale(1.05);

}



#blog .blogwrapper .blog .blog-card .blog-card-header img{
  width: 100%;
  object-fit: cover;
  display : block;
  margin-bottom : 10px;
}

#blog .blogwrapper .blog .blog-card .blog-card-body{
  margin-left: 30px;
  margin-right : 30px;
}


/*footer design*/

.endblock{
  width: 100%;
  height : auto;
  background-color: #0099ff;
  position:absolute;
}

.endblock.social-media{
width: 70%;
margin-left: 25%;


}

.endblock .social-media ul li a {
text-decoration: none;
text-align: center;
color :white;
}

.endblock .social-media ul li {
text-decoration: none;
margin-left:80px;
padding-left: 150px;
}

.endblock .footblock{
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  justify-content: space-evenly;
  z-index: -1;
}


.endblock .footblock .newsletter h2, .endblock .footblock .newsletter p {
color:white;
}

.endblock .footblock .newsletter img{
  width: 30%;
  height: 30%;
}

.endblock .footblock .contact .foot-left {
  display: flex;
  flex-direction: column;
}

.endblock .footblock .contact .foot-left li , .endblock .footblock .contact .foot-left li a ,.endblock .footblock .contact .foot-left li a i {
  text-decoration: none;
  color: white;
}
.endblock .footblock .partners .foot-center{
  display: flex;
  flex-direction: column;
}

.endblock .footblock .partners .foot-center li, .endblock .footblock .partners .foot-center li a , .endblock .footblock .partners .foot-center li a i{
  text-decoration: none;
  color :white
}

.endblock .footblock .address .foot-right li, .endblock .footblock .address .foot-right li a {
  color :white;
  text-decoration: none;

}

.endblock .footblock .address .foot-right{
  display: flex;
  flex-direction: column;
}




.endblock.footblock{
margin-left: 5%;
margin-right:10%;
display:flex;
overflow:hidden;
align-self: start;
justify-content: space-between;
}

.newsletter>form input{
margin-top: 40px;
height: 40px;
width: 500px;
border-radius: 10px;
}

.newsletter>form button{
margin-top :40px;
height: 40px;
width: 50px;
border-radius: 10px;
}

.endblock .copyright{
  margin-left: 40%;
  color :white;
}

 .endblock hr{
  height : 3px;
  background-color: blue;
}



