@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
@import '../node_modules/owl.carousel/dist/assets/owl.carousel.min.css';
@import "../node_modules/jquery/dist/jquery.js";
@import '/node_modules/owl.carousel';


*{
    margin:0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


  
  
  .head{
    background-color:#0099ff;
    height : 100px;
    padding-top: 40px;


    

  }


  .head .navbar{
    width: 100%;
    display: flex;
    padding :0 80px;
    margin : 0 auto;
    justify-content: space-between;


  }
  .navbar>ul>li>a{
   color: white;
   text-align: center;
   text-decoration: none;


    
  }

  ul>li{
    display : inline-block;
    padding : 20px;

  }

  
  .navbar a:hover{

    background-color: rgb(142, 142, 160);
    

  }


  .header-overlay{
    height: 300px;
    margin-bottom: 100px;
    
   
  }


  .showcase{
    background-size: cover;
    height : 100vh;
    background-image: url(../images/background.jpg);
    position:relative;
    overflow: hidden;
    
  }

  footer{
    width: 100%;
    height : auto;
    background-color: #0099ff;
    position:absolute;
    padding : 20px;
  }

 .social-media{
  width: 70%;
  margin-left: 25%;


 }

 .social-media a, .footblock a{
  text-decoration: none;
  text-align: center;
  color :white;
 }

 .social-media li {
  text-decoration: none;
 }

.footblock li{
  display:block;
  padding: 10px;
  color :white;
}


.footblock{
  margin-left: 5%;
  margin-right:10%;
  display:flex;
  overflow:hidden;
  align-self: start;
  justify-content: space-between;
}

.newsletter>form input{
  margin-top: 40px;
  height: 40px;
  width: 500px;
  border-radius: 10px;
}

.newsletter>form button{
  margin-top :40px;
  height: 40px;
  width: 50px;
  border-radius: 10px;
}



/*showcase content styling */

.showcase >.showcase-content{
  margin-left: 10%;
  max-width: 850px;
  margin-top: 5%;
 

}

.showcase .showcase-content span{
  font-weight: 500;
}


.showcase .showcase-content p{
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
  transition: all 0.5s ease;
  

}


/*utility class*/

.btn{
  display: inline-block;
  padding :15px 25px;
  margin: right 10px;
  border-radius: 25px;
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
  
  text-decoration: none;

}

.text-secondary{
  color: #0099ff
}
.text-center{
  text-align: center;
}

.bg-light{
  background: #cfcfcc;
}
.bg-secondary{
  background: #55ba53;
}

.py-0{padding:16px 0;}
.py-1{padding:24px 0;}
.py-2{padding: 32px 0;}
.py-3{padding:48px 0;}


.p-0{padding:16px;}
.p-1{padding:24px;}
.p-2{padding: 32px;}
.p-3{padding:48px;}
.p-3{padding:1px;}

.wrapper{

  max-width: 1320px;
  padding : 0 50px;
  margin : 0 auto;
  flex-wrap: wrap;
}



.showcase .showcase-content .btn-left{
  background: linear-gradient(to right, #0099ff, #0099ff);
}
.showcase .showcase-content .btn-right{
  background: linear-gradient(to right, #0099ff, #0099ff);
}

/*services */

#services .wrapper>.items{
  display : flex;
  padding: 2px;
  

}

#services .items>.item{
  padding: 5px;
  margin : 10px;
  border-style: ridge;
  border-radius: 5px;
  box-shadow:  5px 5px 20px rgba(0,0,0,0.3), -5px -5px 20px rgb(0, 0, 0.3);
  transition: all 0.8s ease ;
}

#services .items .item h3{
  color :#0099ff;
  font-size: 16px;
  margin : 5px;

}


#services .items .item p{
  line-height : 1.4;
}

#services .items .item i{
  color : #0099ff
}

#services .items .item:hover i{
  color :blue;
}


#services .items .item:hover{
  background: #0099ff;
  transform: scale(1.05);
}

#services .items .item:hover h3{
  color :blue;
}


/* Services section Botom */


#goal{

  display :flex;
  padding-top: 20px;
  margin : 0 auto;

}

.goal .img{
  display:inline-block;
  position:relative;
  width: 800px;
  height: 400px;
  overflow: hidden;

}

.goal> .img >img{
  width: auto;
  height: 100%;
  padding-top: 20%;
  margin-left: 40%;
  object-fit: cover;
}

.goal .goal-text{
  margin : 0 40px;

}

#goal .goal-text a{
  color:#f4f4f4;
  background: #0099ff;
  text-decoration: none;
  font-size: 16px;
  border-radius: 25px;
  padding : 3px 10px;
}

#goal .goal-text a:hover{
  color :blue;
  background: #0099ff;
  transition:0.5s;
}


#goal .goal-text h2{
  margin: 20px 0;
  color :#0099ff;
}
.goal-text .contents{
  display: flex;
}


.goal-text .content h3{
  font-size: 16px;
  padding-bottom : 3px;
  color :#0099ff;

}

.goal-text .contents.content p{
  color: #1A1B1E;
}


.goal-text .contents >i{
  color :white;
  margin-right: 20px;
  padding: 3px;
  background:#0099ff;
  border-radius: 5px;
  align-self: flex-start;
}


#portfolio {
  background:#0099ff;
}

.portfolio h3{
  color:white;
  font-size: 14px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.portfolio h2{
  font-size: 40px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;

}

.portfolio p{
  color :white;
  line-height: 1.6;
  margin-bottom: 100px;
}

.owl-carousel .item img{
  display: block;
  width: 700px;
  height: 600px;
  border: 2px solid #0099ff;
  object-fit : cover;

}






